.label {
    font-weight: bold;
    display: block;
}
.nav a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: wheat;
}
.nav{
    background: #020739;
}
